* {
    margin: 0px;
    padding: 0px;
}
#root {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
h1 {
    position: sticky;
    top: 0;
    width: 100vw;
    min-height: 150px;
    background-color:#22577E; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
    font-size: 7vmin;
    z-index: 1;
    font-family: '12롯데마트행복Bold';
}

.formDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 110px;
    background-color: #F1F1E6;
    width: 100%;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}
 button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
	z-index: 0;
	border: 1px solid black;
    font-size: 3vmin;
    font-family: 'BinggraeMelona';
    margin:3% 5%;
    padding: 10px 30px;
    cursor: pointer;
    min-width: 13vw;

}

 button::before, 
 button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}

 button,
 button::before,
 button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
    border-radius: 5px;
}

 button:hover {
	background-color: #22577E;
	border-color: #22577E;
	color: white;
}

 button::before,
 button::after {
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #F2FAFF;
}

 button::before {
	right: 0;
}

 button::after {
	left: 0;
}
 button:hover::before,
button:hover::after {
	width: 0;
	background-color: #F2FAFF;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7%;
}

.rntotalam, .rntotalpm, .wtotalam, .wtotalpm {
    list-style: none;
    border: 1px solid black;
    width: 20vw;
    margin-bottom: 3%;
    border: 1.5px solid #dd9c234a;
    border-radius: 5px;
    padding: 20px 50px;
}

.dayafter, .rnkey, .rnvalue, .wkey, .wvalue {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'BinggraeMelona';
    margin: 3%;
}

.dayafter{
   color:#22577E;
   font-size: 4vmin;
}

.rnkey {
    font-size: 3vmin;
}

.rnvalue {
    color: #E39E22;
    font-size: 3vmin;
    font-weight: bold;
}

.wkey {
    font-size: 3vmin;
}
.wvalue {
    color:#E39E22;
    font-size: 3vmin;
    font-weight: bold;
}

.total {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dd9c234a;
    margin: 0px auto;
}
.shortterminfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    width: 400px;

}

.title, .detailvalue {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 10vmin;
    font-family: 'BinggraeMelona';
}

.title {
    justify-content: right;
    font-size: 4vmin;
    padding-right: 10%;
    width: 50%;
    color: #22577E;
    text-align: right;
}

.detailvalue {
    justify-content: left;
    font-size: 5vmin;
    color:#E39E22;

}

a {
    text-decoration: none;
    color: black;
}

.termDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

/* home으로 돌아가기 링크 */
.home  {
    position: fixed; 
    right: 65%; 
    top: 300px; 
    margin-right: -720px;
    text-align:center;
    width: 120px;
    text-decoration: none;
    color: white;   
    border: 1px solid gray; 
    font-size: 1.2em;
    box-shadow: inset;

  }

/* home 링크 애니메이션 */
  .home::before, 
  .home::after {
     position: absolute;
     z-index: -1;
     display: block;
     content: '';
 }
 
 .home,
 .home::before,
 .home::after {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-transition: all .3s;
     transition: all .3s;
     border-radius: 2px;
 }
 
 .home:hover {
     background-color: white;
     border-color: black;
     color: black;
 }
 
 .home::before,
 .home::after {
     top: 0;
     width: 100%;
     height: 100%;
     background-color: gray;
 }
 
 .home::before {
     right: 0;
 }
 
 .home::after {
     left: 0;
 }
 .home:hover::before,
 .home:hover::after {
     width: 0;
     background-color: gray;
 }

